{
  "openapi": "3.1.0",
  "info": {
    "title": "OutLayer API",
    "version": "0.1.0-alpha.1",
    "summary": "HTTP API for OutLayer custody wallets and policy enforcement",
    "description": "OutLayer Agent Custody — multi-chain wallets for AI agents with TEE-enforced\npolicy, multisig approvals, audit log, and gasless cross-chain transfers via\nNEAR Intents.\n\nPrivate keys live exclusively inside an Intel TDX TEE and are derived from\nNEAR MPC. The wallet owner sets policy (spending limits, whitelists,\nmultisig, freeze) — all enforced inside the TEE before signing.\n\nSee [CUSTODY docs](https://outlayer.fastnear.com/docs/agent-custody) for the\narchitectural overview and [@outlayer/sdk](https://www.npmjs.com/package/@outlayer/sdk)\nfor the TypeScript client.\n",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "contact": {
      "name": "OutLayer",
      "url": "https://outlayer.fastnear.com"
    }
  },
  "servers": [
    {
      "url": "https://api.outlayer.fastnear.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Registration",
      "description": "Create a new wallet and obtain an API key."
    },
    {
      "name": "Wallet",
      "description": "Multi-chain custody operations — transfer, withdraw, swap, balance, signing."
    },
    {
      "name": "Confidential",
      "description": "Confidential intents — move balances between the public intents shard, the Defuse confidential shard, and external chains. The confidential balance ledger is real on-chain state on a separate **private** shard (the `intents.far` contract, distinct from public `intents.near`); it has no public RPC, so you cannot read it externally, but it is an auditable smart contract. Only SHIELD/UNSHIELD touch the public chain. Requires `ENABLE_CONFIDENTIAL_INTENTS` + the confidential partner agreement on the deployment, else every route returns 503. See the agent integration guide referenced under `externalDocs` for the full mental model, privacy recipes, and curl walkthroughs.",
      "externalDocs": {
        "description": "Confidential intents — agent integration guide (mental model, privacy recipes, curl walkthroughs)",
        "url": "https://github.com/out-layer/coordinator/blob/main/docs/CONFIDENTIAL_INTENTS.md"
      }
    },
    {
      "name": "Policy",
      "description": "Encrypted on-chain policy lifecycle (read, encrypt, sign, cache)."
    },
    {
      "name": "Approvals",
      "description": "Multisig approval workflows for actions that exceed policy thresholds."
    },
    {
      "name": "Audit",
      "description": "Event history for the wallet."
    },
    {
      "name": "Requests",
      "description": "Async operation status tracking."
    },
    {
      "name": "Meta",
      "description": "Token catalog and helpers."
    }
  ],
  "paths": {
    "/register": {
      "post": {
        "tags": [
          "Registration"
        ],
        "operationId": "registerWallet",
        "summary": "Register a new wallet",
        "description": "Creates a new multi-chain wallet and returns an API key. For most\ncallers, send `{}` — an anonymous wallet is created and an API key is\nreturned in `api_key` (shown once, not retrievable later).\n\nOptional fields enable advanced registration paths:\n- `account_id` + `pubkey` + `message` + `signature`: bind the wallet to\n  a NEAR account via NEP-413 proof-of-ownership.\n- `vault_id`: bind to a customer-owned vault for sovereign custody (see\n  vault docs).\n\nRate-limited: 30 requests per minute per IP.\n",
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              },
              "examples": {
                "anonymous": {
                  "summary": "Anonymous wallet (most common)",
                  "value": {}
                },
                "bound_to_near_account": {
                  "summary": "Bind to NEAR account via NEP-413",
                  "value": {
                    "account_id": "alice.near",
                    "pubkey": "ed25519:7BcBZ9Z...",
                    "message": "register:1716200000",
                    "signature": "ed25519:5K3F..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                },
                "examples": {
                  "anonymous": {
                    "value": {
                      "wallet_id": "9c3c9e10-1c1f-4f5e-9c4a-1d7b9a8f3c20",
                      "api_key": "wk_2a8b1f3c4d5e6789abcdef0123456789",
                      "near_account_id": "9c3c9e101c1f4f5e9c4a1d7b9a8f3c20",
                      "handoff_url": "https://outlayer.fastnear.com/wallet?api_key=wk_2a8b...",
                      "trial": {
                        "calls_remaining": 100,
                        "expires_at": "2026-06-20T00:00:00Z",
                        "limits": {
                          "max_instructions": 100000000,
                          "max_execution_seconds": 30,
                          "max_memory_mb": 64
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/address": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "operationId": "getAddress",
        "summary": "Derive wallet address for a chain",
        "description": "Returns the deterministically-derived address for the wallet on the\nrequested chain. Same `wallet_id` always produces the same addresses\nacross chains.\n",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address derived",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressResponse"
                },
                "example": {
                  "wallet_id": "9c3c9e10-1c1f-4f5e-9c4a-1d7b9a8f3c20",
                  "chain": "near",
                  "address": "9c3c9e101c1f4f5e9c4a1d7b9a8f3c20",
                  "public_key": "ed25519:7BcBZ9Z...",
                  "vault_id": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/balance": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "operationId": "getBalance",
        "summary": "Read balance",
        "description": "Returns the balance for a token on the requested chain. Currently only\n`chain=near` is supported for native balance reads; cross-chain balances\nshould be read from the upstream chain directly.\n\nSet `source=intents` to read the wallet's intents.near balance\n(`mt_balance_of`) instead of the on-chain account balance.\n",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Chain",
              "default": "near"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token ID (`nep141:<contract>` or `native`)."
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "chain",
                "intents"
              ],
              "default": "chain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                },
                "example": {
                  "balance": "1000000000000000000000000",
                  "token": "NEAR",
                  "account_id": "9c3c9e101c1f4f5e9c4a1d7b9a8f3c20"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/tokens": {
      "get": {
        "tags": [
          "Meta"
        ],
        "operationId": "listTokens",
        "summary": "List supported tokens",
        "description": "Returns the token catalog supported for swaps and cross-chain withdraws\nvia NEAR Intents. Token IDs are typed as `nep141:<contract>` and map to\neach chain via `defuse_asset_id`.\n",
        "responses": {
          "200": {
            "description": "Token list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokensResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/call": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "call",
        "summary": "Sign and broadcast a NEAR function call",
        "description": "Native NEAR contract call. Policy is enforced before signing; if the\ncall exceeds limits, the response carries `status=pending_approval`\nand an `approval_id` for the multisig flow.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallRequest"
              },
              "example": {
                "receiver_id": "usdt.tether-token.near",
                "method_name": "ft_transfer",
                "args": {
                  "receiver_id": "bob.near",
                  "amount": "1000000"
                },
                "gas": "30000000000000",
                "deposit": "1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call submitted (or queued for approval)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/transfer": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "transfer",
        "summary": "Native chain transfer",
        "description": "Chain-agnostic native transfer (NEAR yoctoNEAR units). Currently only\n`chain=near` is supported; other chains return `unsupported_chain`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequest"
              },
              "examples": {
                "canonical": {
                  "summary": "Canonical `to` field",
                  "value": {
                    "chain": "near",
                    "to": "bob.near",
                    "amount": "1000000000000000000000000"
                  }
                },
                "legacyReceiverId": {
                  "summary": "Legacy `receiver_id` alias (still accepted)",
                  "value": {
                    "chain": "near",
                    "receiver_id": "bob.near",
                    "amount": "1000000000000000000000000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/intents/deposit": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "intentsDeposit",
        "summary": "Deposit FT into intents.near",
        "description": "Wraps `ft_transfer_call` to `intents.near`, auto-handling storage\ndeposit if required. After this call, the wallet's intents.near balance\nincreases by `amount` of `token` and is available for swaps and\ngasless cross-chain withdrawals.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntentsDepositRequest"
              },
              "example": {
                "token": "wrap.near",
                "amount": "5000000000000000000000000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deposit submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntentsDepositResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/intents/withdraw": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "intentsWithdraw",
        "summary": "Withdraw via NEAR Intents (native NEAR / wNEAR / cross-chain)",
        "description": "Gasless withdrawal through NEAR Intents solver relay. The wallet's\nintents.near balance is debited; the receiver gets funds without paying\ngas on either side.\n\n**`chain=near`** — the `token` field selects what the recipient receives:\n  - omitted / `near` / `native` (default): **native NEAR**. intents.near\n    unwraps the wallet's wNEAR (`native_withdraw` intent) and sends native\n    NEAR. The recipient needs **no** `wrap.near` storage. The recipient\n    account must already exist (or be a 64-char implicit account) —\n    withdrawing to a non-existent named account is rejected (the unwrapped\n    wNEAR would otherwise be burned).\n  - `nep141:wrap.near`: **wNEAR** (NEP-141). Recipient must be\n    storage-registered on `wrap.near`.\n  - other `nep141:<token>`: that NEP-141. Recipient must be storage-registered.\n\n**Other chains** (`ethereum`, `solana`, `bitcoin`, ...) — `token` is the\nsource Intents asset; 1Click bridges and delivers the destination chain's\nnative asset.\n\nIf the policy requires approval, returns `status=pending_approval` with\nan `approval_id`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawRequest"
              },
              "examples": {
                "nativeNear": {
                  "summary": "Native NEAR (default for chain=near)",
                  "value": {
                    "chain": "near",
                    "to": "receiver.near",
                    "amount": "1000000000000000000000000",
                    "token": "near"
                  }
                },
                "wnear": {
                  "summary": "wNEAR (NEP-141, recipient needs wrap.near storage)",
                  "value": {
                    "chain": "near",
                    "to": "receiver.near",
                    "amount": "1000000000000000000000000",
                    "token": "nep141:wrap.near"
                  }
                },
                "crossChain": {
                  "summary": "Cross-chain (1Click delivers native on the target chain)",
                  "value": {
                    "chain": "ethereum",
                    "to": "0x742d35Cc6634C0532925a3b844Bc9e7595f8b4f5",
                    "amount": "1000000",
                    "token": "nep141:usdt.tether-token.near"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdraw submitted (or queued for approval)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/intents/withdraw/dry-run": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "intentsWithdrawDryRun",
        "summary": "Simulate a withdraw (policy + balance check, no execution)",
        "description": "Runs the full policy and balance check for a withdraw without signing\nor broadcasting. Useful for showing the user whether an action would\nsucceed before they confirm.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dry-run result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DryRunResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/intents/swap": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "intentsSwap",
        "summary": "Swap via NEAR Intents (1Click)",
        "description": "Cross-chain swap via the 1Click solver. Quote → deposit to intents.near\n→ mt_transfer → poll. Returns when the swap settles or fails.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapRequest"
              },
              "example": {
                "token_in": "nep141:wrap.near",
                "token_out": "nep141:usdt.tether-token.near",
                "amount_in": "5000000000000000000000000",
                "min_amount_out": "24000000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/intents/swap/quote": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "intentsSwapQuote",
        "summary": "Get a swap quote (no execution)",
        "description": "Returns the indicative output and deadline for a swap without executing\nit. Use this before calling `/intents/swap` to show the user expected\noutput and allow them to set `min_amount_out`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapQuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/confidential/deposit": {
      "post": {
        "tags": [
          "Confidential"
        ],
        "operationId": "confidentialDeposit",
        "summary": "SHIELD — move public intents balance into the confidential shard",
        "description": "Moves the wallet's **public** `intents.near` balance into its\nconfidential balance (deposit-type `INTENTS` → recipient-type\n`CONFIDENTIAL_INTENTS`).\n\n**Privacy note:** SHIELD links the wallet to the confidential pool\n**on-chain** (an `execute_intents` call signed by the wallet, with the\npublic asset id visible). It is a convenience hop, not an unlinkable\noperation — for unlinkability fund the confidential balance via\n`confidentialDepositIntent` (cross-chain) instead. See CUSTODY docs.\n\nAsync: returns `status=pending_deposit` with a `request_id`; poll\n`GET /wallet/v1/requests/{id}` until terminal.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfidentialShieldRequest"
              },
              "example": {
                "token": "nep141:wrap.near",
                "amount": "10000000000000000000000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shield submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfidentialOpResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/wallet/v1/confidential/unshield": {
      "post": {
        "tags": [
          "Confidential"
        ],
        "operationId": "confidentialUnshield",
        "summary": "UNSHIELD — move confidential balance back to public intents",
        "description": "Reverse of SHIELD (deposit-type `CONFIDENTIAL_INTENTS` → recipient-type\n`INTENTS`). Like SHIELD, this links the wallet on-chain (exit-to-public\nreveal). Async — poll `GET /wallet/v1/requests/{id}`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfidentialUnshieldRequest"
              },
              "example": {
                "token": "nep141:wrap.near",
                "amount": "10000000000000000000000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unshield submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfidentialOpResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/wallet/v1/confidential/withdraw": {
      "post": {
        "tags": [
          "Confidential"
        ],
        "operationId": "confidentialWithdraw",
        "summary": "Withdraw a confidential balance to an external chain",
        "description": "Moves a confidential balance out to a destination chain\n(`CONFIDENTIAL_INTENTS` → `DESTINATION_CHAIN`). The wallet's NEAR address\nnever appears on chain — only the destination-chain receiver does, on the\ndestination chain.\n\n`chain=\"near\"` is supported and delivers **native NEAR** to the named\nNEAR account: 1Click runs a `native_withdraw` intent on `intents.near`\nthat unwraps the wNEAR and sends native NEAR directly to the recipient's\nwallet (verified live: settlement\n`FVzan8XRMwHYPe2hgX4GffwG3bdndxETWb2FKVFzFdur`). To send funds back to\nyour **own** public intents balance use `confidentialUnshield` (different\nsemantics — self vs. external recipient).\n\n`token` is **required** — the source confidential asset to deliver on the\ndestination chain. The same per-chain whitelist / spending-limit policy\nas `intentsWithdraw` is enforced. Async — poll\n`GET /wallet/v1/requests/{id}`.\n\n**Delivery to a NEAR named account via `DESTINATION_CHAIN` lands an\n`mt_balance` credit on `intents.near` (NEP-245), not a direct FT\nbalance** — see CUSTODY docs.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfidentialWithdrawRequest"
              },
              "example": {
                "chain": "solana",
                "to": "Esf7JS1sM46vEHtk75ik7N7UD5FJ13TXVKGWEd2kksiw",
                "amount": "500000",
                "token": "nep141:sol-5ce3bf3a31af18be40ba30f721101b4341690186.omft.near"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdraw submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfidentialOpResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/wallet/v1/confidential/withdraw/dry-run": {
      "post": {
        "tags": [
          "Confidential"
        ],
        "operationId": "confidentialWithdrawDryRun",
        "summary": "Quote a confidential withdraw (no execution)",
        "description": "Returns the indicative output for a confidential withdraw without\nsigning or submitting. Read-only.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfidentialWithdrawRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapQuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/wallet/v1/confidential/transfer": {
      "post": {
        "tags": [
          "Confidential"
        ],
        "operationId": "confidentialTransfer",
        "summary": "Private transfer inside the confidential shard",
        "description": "Transfers a confidential balance to another NEAR account, fully inside\nthe confidential shard (`CONFIDENTIAL_INTENTS` → `CONFIDENTIAL_INTENTS`).\nSettles on the private shard, so it leaves no public-chain trace.\nNEAR-only context — no `chain` field; `token`\nrequired. Async — poll `GET /wallet/v1/requests/{id}`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfidentialTransferRequest"
              },
              "example": {
                "to": "950c134ec86a21a8525d16d1dbae79258b923cabdaa8d32da284d931f74bdcb2",
                "amount": "1000000",
                "token": "nep141:wrap.near"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfidentialOpResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/wallet/v1/confidential/swap": {
      "post": {
        "tags": [
          "Confidential"
        ],
        "operationId": "confidentialSwap",
        "summary": "Swap between two assets inside the confidential shard",
        "description": "Confidential swap with distinct `token_in`/`token_out`, both settled\ninside the confidential shard. Settles on the private shard, so it leaves\nno public-chain trace. Async — poll\n`GET /wallet/v1/requests/{id}`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfidentialSwapRequest"
              },
              "example": {
                "token_in": "nep141:wrap.near",
                "token_out": "nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1",
                "amount_in": "5000000000000000000000000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfidentialOpResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/wallet/v1/confidential/swap/quote": {
      "post": {
        "tags": [
          "Confidential"
        ],
        "operationId": "confidentialSwapQuote",
        "summary": "Quote a confidential swap (no execution)",
        "description": "Read-only price preview for a confidential swap.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfidentialSwapRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapQuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/wallet/v1/confidential/deposit-intent": {
      "post": {
        "tags": [
          "Confidential"
        ],
        "operationId": "confidentialDepositIntent",
        "summary": "Cross-chain deposit into the confidential shard (quote only)",
        "description": "Requests a one-time bridge deposit address to fund the confidential\nbalance from an external chain (`ORIGIN_CHAIN` → `CONFIDENTIAL_INTENTS`).\nThe caller sends `amount` of the source asset to the returned\n`deposit_address` out-of-band; the solver bridges it and credits the\nconfidential balance. **The wallet's NEAR address never touches the\npublic side** — this is the most private way to fund a confidential\nbalance. Poll `GET /wallet/v1/requests/{id}` for status.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfidentialDepositIntentRequest"
              },
              "example": {
                "source_asset": "nep141:sol-5ce3bf3a31af18be40ba30f721101b4341690186.omft.near",
                "amount": "500000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deposit address issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfidentialDepositIntentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/wallet/v1/confidential/balance": {
      "get": {
        "tags": [
          "Confidential"
        ],
        "operationId": "confidentialBalance",
        "summary": "Read confidential balances",
        "description": "Returns the wallet's confidential balances from the private shard\n(`intents.far`), which has no public RPC of its own. With `?token=`\nreturns a single asset; without it returns the\nfull list. Accepts both `wrap.near` and `nep141:wrap.near` forms.\n",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Defuse asset id to filter to (e.g. `nep141:wrap.near`). Omit for all."
          }
        ],
        "responses": {
          "200": {
            "description": "Confidential balance(s)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConfidentialBalanceResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ConfidentialBalancesResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/wallet/v1/deposit-intent": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "createDepositIntent",
        "summary": "Create a cross-chain deposit intent (1Click)",
        "description": "Requests a one-time deposit address on a source chain via NEAR Intents\n1Click. The caller sends `amount` of the source token to the returned\n`deposit_address`; the solver bridges it and credits the wallet's\nintents.near balance. Poll `getDepositStatus` until `success`.\n\nTwo request shapes are accepted (see\n[`DepositIntentRequest`](#/components/schemas/DepositIntentRequest)):\n\n- **By asset id (preferred)** — `{ source_asset, destination_asset?,\n  amount }`. The source chain is derived from the\n  [`defuse_asset_id`](#/components/schemas/TokenInfo) prefix. This is\n  the shape returned by `listTokens` and used by the dashboard.\n- **By chain + symbol (legacy)** — `{ chain, token?, amount }`. The\n  coordinator resolves `(chain, symbol)` to an asset id via the\n  1Click token catalog.\n\nIf both shapes are present and disagree, `source_asset` wins and the\ncoordinator logs a warning. `near` is a valid source chain — a\nNEAR-origin deposit returns a 64-char hex implicit account.\n\nAmounts are in the token's smallest unit. There's a small bridge fee,\nso `amount_out` < `amount`.\n\nThe returned `deposit_address` is chain-specific — see the\n[`DepositIntentResponse.deposit_address`](#/components/schemas/DepositIntentResponse)\ndescription for per-chain address formats.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositIntentRequest"
              },
              "examples": {
                "bySourceAsset": {
                  "summary": "USDC on Base → NEAR USDC (preferred shape)",
                  "value": {
                    "source_asset": "nep141:base-0x833589fcd6edb6e08f4c7c32d4f71b54bda02913.omft.near",
                    "destination_asset": "nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1",
                    "amount": "5000000"
                  }
                },
                "byChainAndToken": {
                  "summary": "USDC on Ethereum (legacy shape)",
                  "value": {
                    "chain": "ethereum",
                    "token": "USDC",
                    "amount": "5000000"
                  }
                },
                "nearNative": {
                  "summary": "NEAR-origin deposit (returns a NEAR implicit account)",
                  "value": {
                    "source_asset": "nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1",
                    "amount": "5000000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deposit intent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositIntentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/deposit-status": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "operationId": "getDepositStatus",
        "summary": "Poll a cross-chain deposit intent's status",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `intent_id` from `createDepositIntent`."
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/sign-message": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "signMessage",
        "summary": "Sign an arbitrary message (NEP-413 or raw)",
        "description": "Signs a message with the wallet's NEAR key. Use `format=nep413` (default)\nfor the standard NEP-413 signing scheme; use `format=raw` for raw byte\nsigning.\n\nPolicy and freeze still apply — a frozen wallet cannot sign.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignMessageRequest"
              },
              "example": {
                "message": "login:myapp:1716200000",
                "recipient": "myapp.example",
                "format": "nep413"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignMessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/requests": {
      "get": {
        "tags": [
          "Requests"
        ],
        "operationId": "listRequests",
        "summary": "List async wallet requests",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RequestType"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RequestStatus"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/requests/{id}": {
      "get": {
        "tags": [
          "Requests"
        ],
        "operationId": "getRequest",
        "summary": "Get a single request's status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/policy": {
      "get": {
        "tags": [
          "Policy"
        ],
        "operationId": "getPolicy",
        "summary": "Get current decrypted policy",
        "description": "Returns the wallet's current policy (decrypted by the keystore TEE),\nplus the current usage counters used by velocity-limit checks.\n",
        "responses": {
          "200": {
            "description": "Current policy + usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/encrypt-policy": {
      "post": {
        "tags": [
          "Policy"
        ],
        "operationId": "encryptPolicy",
        "summary": "Encrypt a policy for on-chain storage",
        "description": "Sends a policy JSON to the keystore TEE for encryption. The returned\n`encrypted_base64` is what gets stored in NEAR via\n`store_wallet_policy(...)` after the keystore signs it.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncryptPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Encrypted policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncryptPolicyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/sign-policy": {
      "post": {
        "tags": [
          "Policy"
        ],
        "operationId": "signPolicy",
        "summary": "Sign an encrypted policy (for on-chain submission)",
        "description": "The keystore signs `SHA256(encrypted_data)` with the wallet's key. The\nsignature + encrypted data + public key form the payload for the\non-chain `store_wallet_policy(...)` call.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignPolicyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/invalidate-cache": {
      "post": {
        "tags": [
          "Policy"
        ],
        "operationId": "invalidatePolicyCache",
        "summary": "Invalidate negative policy cache",
        "description": "Forces the coordinator to drop its cached `no_policy` flag for a wallet.\nCall this after submitting `store_wallet_policy(...)` on-chain so that\nsubsequent operations pick up the new policy without waiting for the\n5-minute TTL to expire.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvalidateCacheRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cache cleared",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/pending_approvals": {
      "get": {
        "tags": [
          "Approvals"
        ],
        "operationId": "listPendingApprovals",
        "summary": "List pending multisig approvals",
        "responses": {
          "200": {
            "description": "Pending approvals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingApprovalsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/approve/{id}": {
      "post": {
        "tags": [
          "Approvals"
        ],
        "operationId": "approveRequest",
        "summary": "Approve a pending action (NEP-413 signed)",
        "description": "Submits an approver's NEP-413 signature for a pending action. When the\napproval threshold is reached, the action auto-executes. No API key\nrequired — auth is established by the NEP-413 signature in the body.\n",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Nep413Auth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approval recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/reject/{id}": {
      "post": {
        "tags": [
          "Approvals"
        ],
        "operationId": "rejectRequest",
        "summary": "Reject a pending action (NEP-413 signed)",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rejection recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/v1/audit": {
      "get": {
        "tags": [
          "Audit"
        ],
        "operationId": "listAuditEvents",
        "summary": "Event history for the wallet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "wk_<32-hex-chars>",
        "description": "API key returned by `POST /register`. Format `wk_<hex>`. Pass as\n`Authorization: Bearer wk_...`.\n"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Optional idempotency token. Resubmitting a write request with the same\nkey returns the original result without re-execution. Recommended for\nclients that retry on network failure.\n"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "bad_request": {
                "value": {
                  "error": "bad_request",
                  "message": "amount must be positive"
                }
              },
              "invalid_address": {
                "value": {
                  "error": "invalid_address"
                }
              },
              "unsupported_chain": {
                "value": {
                  "error": "unsupported_chain"
                }
              },
              "unsupported_token": {
                "value": {
                  "error": "unsupported_token"
                }
              },
              "insufficient_balance": {
                "value": {
                  "error": "insufficient_balance"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missing_auth": {
                "value": {
                  "error": "missing_auth"
                }
              },
              "invalid_api_key": {
                "value": {
                  "error": "invalid_api_key"
                }
              },
              "timestamp_expired": {
                "value": {
                  "error": "timestamp_expired"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Action blocked by policy or wallet state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "policy_denied": {
                "value": {
                  "error": "policy_denied",
                  "message": "daily limit exceeded"
                }
              },
              "wallet_frozen": {
                "value": {
                  "error": "wallet_frozen"
                }
              },
              "not_approver": {
                "value": {
                  "error": "not_approver"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource does not exist",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "request_not_found": {
                "value": {
                  "error": "request_not_found"
                }
              },
              "approval_not_found": {
                "value": {
                  "error": "approval_not_found"
                }
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rate_limited": {
                "value": {
                  "error": "rate_limited"
                }
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "internal_error": {
                "value": {
                  "error": "internal_error"
                }
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Feature not enabled/configured on this deployment. Returned by the `/wallet/v1/confidential/*` routes when `ENABLE_CONFIDENTIAL_INTENTS` is off or the confidential upstream is not configured.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "confidential_unavailable": {
                "value": {
                  "error": "confidential_unavailable",
                  "message": "Confidential intents are not configured on this deployment"
                }
              }
            }
          }
        }
      },
      "BadGateway": {
        "description": "Upstream dependency failed. `keystore_error`: the TEE keystore (signing / key derivation) was unreachable or rejected the request. `confidential_jwt_expired`: the confidential per-account JWT was rejected by the 1Click upstream and re-authentication also failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "keystore_error": {
                "value": {
                  "error": "keystore_error"
                }
              },
              "confidential_jwt_expired": {
                "value": {
                  "error": "confidential_jwt_expired"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Chain": {
        "type": "string",
        "enum": [
          "near",
          "ethereum",
          "solana",
          "bitcoin"
        ],
        "description": "Supported chain identifier."
      },
      "RequestType": {
        "type": "string",
        "enum": [
          "call",
          "transfer",
          "withdraw",
          "deposit",
          "swap"
        ]
      },
      "RequestStatus": {
        "type": "string",
        "enum": [
          "processing",
          "success",
          "failed",
          "pending_approval",
          "approved",
          "rejected"
        ]
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "missing_auth",
          "invalid_api_key",
          "missing_wallet_id",
          "missing_signature",
          "timestamp_expired",
          "wallet_frozen",
          "policy_denied",
          "not_approver",
          "insufficient_balance",
          "invalid_address",
          "rate_limited",
          "unsupported_chain",
          "unsupported_token",
          "request_not_found",
          "approval_not_found",
          "bad_request",
          "duplicate_idempotency_key",
          "internal_error",
          "keystore_error",
          "confidential_unavailable",
          "confidential_jwt_expired"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "description": "For the common case (anonymous wallet on OutLayer's shared master),\nsend empty `{}`. Optional fields enable advanced flows:\n\n- `vault_id`: bind this wallet to an existing customer-owned vault,\n  so the wallet's master is derived through the vault's per-customer\n  MPC-derived master instead of OutLayer's shared default. The vault\n  must already be deployed and verified — **vault deployment is not\n  done through this endpoint**. Use the dashboard\n  (https://outlayer.fastnear.com/vault) or the CLI\n  (`outlayer vault init`) to deploy. Reference:\n  https://outlayer.fastnear.com/docs/vaults\n- `account_id` + `pubkey` + `message` + `signature`: bind the wallet\n  to a verified NEAR account via NEP-413 proof-of-ownership. Used\n  by clients that want operational keys (`wk_...`) tied to a real\n  NEAR account.\n",
        "properties": {
          "account_id": {
            "type": "string",
            "description": "NEAR account ID to bind the wallet to (requires NEP-413 signature)."
          },
          "seed": {
            "type": "string",
            "description": "Reserved for deterministic-wallet derivation. Most callers leave unset."
          },
          "pubkey": {
            "type": "string",
            "description": "NEP-413 signer pubkey (paired with `account_id` + `signature`)."
          },
          "message": {
            "type": "string",
            "description": "NEP-413 message that was signed."
          },
          "signature": {
            "type": "string",
            "description": "NEP-413 signature over `message`."
          },
          "vault_id": {
            "type": "string",
            "description": "ID of a deployed and verified customer vault (e.g. `vault.alice.near`).\nBinding is permanent — the resulting API key is tied to this vault\nfor its lifetime. All subsequent operations on the API key\nautomatically derive keys through the per-vault master; you do\nNOT pass `vault_id` on every call.\n"
          }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "required": [
          "wallet_id",
          "near_account_id"
        ],
        "properties": {
          "wallet_id": {
            "type": "string",
            "format": "uuid"
          },
          "api_key": {
            "type": "string",
            "description": "Shown once. Not retrievable later — save it now."
          },
          "near_account_id": {
            "type": "string"
          },
          "handoff_url": {
            "type": "string",
            "format": "uri",
            "description": "Dashboard URL where the controller sets policy."
          },
          "trial": {
            "$ref": "#/components/schemas/TrialInfo"
          }
        }
      },
      "TrialInfo": {
        "type": "object",
        "properties": {
          "calls_remaining": {
            "type": "integer"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "limits": {
            "type": "object",
            "properties": {
              "max_instructions": {
                "type": "integer"
              },
              "max_execution_seconds": {
                "type": "integer"
              },
              "max_memory_mb": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AddressResponse": {
        "type": "object",
        "required": [
          "wallet_id",
          "chain",
          "address",
          "public_key"
        ],
        "properties": {
          "wallet_id": {
            "type": "string"
          },
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "address": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "vault_id": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "required": [
          "balance",
          "token",
          "account_id"
        ],
        "properties": {
          "balance": {
            "type": "string",
            "description": "Amount in token's smallest unit."
          },
          "token": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          }
        }
      },
      "TokenInfo": {
        "type": "object",
        "required": [
          "id",
          "symbol",
          "chains",
          "decimals"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chain"
            }
          },
          "decimals": {
            "type": "integer"
          },
          "defuse_asset_id": {
            "type": "string"
          }
        }
      },
      "TokensResponse": {
        "type": "object",
        "required": [
          "tokens"
        ],
        "properties": {
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenInfo"
            }
          }
        }
      },
      "CallRequest": {
        "type": "object",
        "required": [
          "receiver_id",
          "method_name"
        ],
        "properties": {
          "receiver_id": {
            "type": "string"
          },
          "method_name": {
            "type": "string"
          },
          "args": {
            "type": "object",
            "additionalProperties": {},
            "description": "Method arguments as a JSON object. Mutually exclusive with `args_base64`."
          },
          "args_base64": {
            "type": "string",
            "description": "Pre-encoded base64 args. Use for non-JSON encodings."
          },
          "gas": {
            "type": "string",
            "description": "Gas budget in TGas as a string. Defaults to `30000000000000` (30 TGas) server-side."
          },
          "deposit": {
            "type": "string",
            "description": "Attached NEAR deposit in yoctoNEAR. Defaults to `0` server-side."
          }
        }
      },
      "CallResponse": {
        "type": "object",
        "required": [
          "request_id",
          "status"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/RequestStatus"
          },
          "tx_hash": {
            "type": [
              "string",
              "null"
            ]
          },
          "result": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "approval_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "required": {
            "type": [
              "integer",
              "null"
            ]
          },
          "approved": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "TransferRequest": {
        "type": "object",
        "description": "Native transfer on a single chain. Canonical recipient field is\n`to` — matches `WithdrawRequest.to` and the dashboard. The legacy\nfield name `receiver_id` is still accepted as an alias for\nbackward compatibility with clients that predate the rename;\nsending BOTH in the same body is rejected as a deserialization\nerror.",
        "required": [
          "to",
          "amount"
        ],
        "properties": {
          "chain": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Chain"
              }
            ],
            "description": "Chain to transfer on. Defaults to `near` server-side."
          },
          "to": {
            "type": "string",
            "description": "Recipient account id on `chain`. For NEAR, accepts both named\naccounts (`alice.near`) and 64-char implicit hex accounts.",
            "example": "alice.near"
          },
          "receiver_id": {
            "type": "string",
            "deprecated": true,
            "description": "**Deprecated alias for `to`.** Existing clients sending\n`receiver_id` continue to work; new clients should use `to`.\nSending both `to` and `receiver_id` in the same body is\nrejected with a 400."
          },
          "amount": {
            "type": "string",
            "description": "Amount in the chain's smallest unit (yoctoNEAR, wei, …)."
          }
        }
      },
      "IntentsDepositRequest": {
        "type": "object",
        "required": [
          "token",
          "amount"
        ],
        "properties": {
          "token": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          }
        }
      },
      "IntentsDepositResponse": {
        "type": "object",
        "required": [
          "request_id",
          "status"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/RequestStatus"
          },
          "tx_hash": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "WithdrawRequest": {
        "type": "object",
        "required": [
          "chain",
          "amount"
        ],
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/Chain"
          },
          "to": {
            "type": "string",
            "description": "Destination address on the target chain."
          },
          "amount": {
            "type": "string"
          },
          "token": {
            "type": "string",
            "description": "Token ID, e.g. `nep141:usdt.tether-token.near`. For `chain=near`, omit (or use `near`/`native`) to deliver **native NEAR** (unwraps the wallet's wNEAR); use `nep141:wrap.near` to deliver wNEAR instead. For other chains, this is the source Intents asset bridged via 1Click."
          }
        }
      },
      "WithdrawResponse": {
        "type": "object",
        "required": [
          "request_id",
          "status"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/RequestStatus"
          },
          "approval_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "required": {
            "type": [
              "integer",
              "null"
            ]
          },
          "approved": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "DryRunResponse": {
        "type": "object",
        "properties": {
          "would_succeed": {
            "type": "boolean"
          },
          "reason": {
            "type": "string",
            "description": "Present when `would_succeed` is false. One of: `wallet_frozen`, `policy_denied`, `storage_not_registered` (wNEAR/NEP-141 recipient has no token storage), `recipient_not_found` (native NEAR to a non-existent named account — would burn the wNEAR)."
          },
          "message": {
            "type": "string"
          },
          "estimated_fee": {
            "type": "string"
          },
          "fee_token": {
            "type": "string"
          },
          "policy_check": {
            "type": "object",
            "properties": {
              "decision": {
                "type": "string",
                "enum": [
                  "allowed",
                  "denied",
                  "requires_approval",
                  "frozen",
                  "no_policy_allow"
                ]
              },
              "reason": {
                "type": "string"
              },
              "required_approvals": {
                "type": "integer"
              }
            }
          }
        }
      },
      "SwapRequest": {
        "type": "object",
        "required": [
          "token_in",
          "token_out",
          "amount_in"
        ],
        "properties": {
          "token_in": {
            "type": "string"
          },
          "token_out": {
            "type": "string"
          },
          "amount_in": {
            "type": "string"
          },
          "min_amount_out": {
            "type": "string"
          }
        }
      },
      "SwapResponse": {
        "type": "object",
        "required": [
          "request_id",
          "status"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/RequestStatus"
          },
          "amount_out": {
            "type": "string"
          },
          "intent_hash": {
            "type": "string"
          }
        }
      },
      "SwapQuoteResponse": {
        "type": "object",
        "properties": {
          "amount_out": {
            "type": "string"
          },
          "min_amount_out": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "time_estimate_seconds": {
            "type": "integer"
          }
        }
      },
      "DefuseAssetId": {
        "type": "string",
        "description": "NEAR Intents `defuse_asset_id`. Currently always a NEP-141 token\nidentifier of the form `nep141:<contract>`. Format matches the\n[`TokenInfo.defuse_asset_id`](#/components/schemas/TokenInfo) field\nreturned by `listTokens`.",
        "example": "nep141:wrap.near"
      },
      "DestinationAsset": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DefuseAssetId"
          }
        ],
        "description": "Defuse asset id the recipient will hold after the bridge. Defaults\nto NEAR USDC.",
        "default": "nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1"
      },
      "DepositIntentRequest": {
        "description": "Request body for `createDepositIntent`. Two shapes accepted; see the\n`anyOf` branches below. `amount` is always required. The\n`destination_asset` field defaults to NEAR USDC\n(`nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1`)\nwhen omitted — see\n[`DestinationAsset`](#/components/schemas/DestinationAsset).\n\nUses `anyOf` (not `oneOf`) deliberately — a request that supplies\nboth `source_asset` and `chain` matches both branches; the\ncoordinator resolves the conflict by preferring `source_asset` and\nlogging a warning, so `oneOf`'s strict \"exactly one match\" rule\nwould needlessly reject valid requests.",
        "anyOf": [
          {
            "title": "BySourceAsset",
            "description": "Preferred shape. The source chain is derived from the\n`source_asset` prefix (e.g. `nep141:eth-…` → ethereum,\n`nep141:base-…` → base, `nep141:btc.omft.near` → bitcoin,\nanything else `nep141:<contract>.near` → near).",
            "type": "object",
            "required": [
              "source_asset",
              "amount"
            ],
            "properties": {
              "source_asset": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DefuseAssetId"
                  }
                ],
                "description": "NEAR Intents `defuse_asset_id` of the source token. The\nsource chain is derived from this id.",
                "example": "nep141:base-0x833589fcd6edb6e08f4c7c32d4f71b54bda02913.omft.near"
              },
              "destination_asset": {
                "$ref": "#/components/schemas/DestinationAsset"
              },
              "amount": {
                "type": "string",
                "description": "Amount in the source token's smallest unit (e.g. `5000000` = 5 USDC)."
              },
              "refund_address": {
                "type": "string",
                "description": "Address on the source chain to refund to if the bridge\nfails. Defaults to the wallet's derived address on that\nchain."
              }
            }
          },
          {
            "title": "ByChainAndToken",
            "description": "Legacy shape — kept for backwards compatibility. The coordinator\nresolves `(chain, token)` to a `source_asset` via the 1Click\ntoken catalog.",
            "type": "object",
            "required": [
              "chain",
              "amount"
            ],
            "properties": {
              "chain": {
                "type": "string",
                "description": "Source chain. Supported: `near`, `ethereum`, `base`,\n`arbitrum`, `solana`, `bitcoin`, `bsc`, `polygon`,\n`optimism`, `avalanche`.",
                "example": "ethereum"
              },
              "token": {
                "type": "string",
                "description": "Source token symbol on the origin chain. Defaults to `USDC`.",
                "default": "USDC"
              },
              "destination_asset": {
                "$ref": "#/components/schemas/DestinationAsset"
              },
              "amount": {
                "type": "string"
              },
              "refund_address": {
                "type": "string"
              }
            }
          }
        ]
      },
      "DepositIntentResponse": {
        "type": "object",
        "required": [
          "intent_id",
          "deposit_address",
          "amount",
          "amount_out",
          "min_amount_out"
        ],
        "properties": {
          "intent_id": {
            "type": "string"
          },
          "deposit_address": {
            "type": "string",
            "description": "One-time address on the source chain — send funds here. The\naddress format depends on the resolved source chain:\n\n- `near` — 64-char hex (NEAR implicit account), e.g.\n  `f51768dc0c4d4bbb78890262da9882dee2ee5b6c2fcf2c527e56c6eadcb54353`\n- `ethereum` / `base` / `arbitrum` / `bsc` / `polygon` /\n  `optimism` / `avalanche` — `0x` + 40 hex (EVM), e.g.\n  `0x582290c0b2Cb60989B35FFF66049f3e3247355bc`\n- `solana` — base58, 32-44 chars (Solana), e.g.\n  `5AmGa2Bcfajbytg55UUb4vCAAzKBMYKZNQwx5S2BH2qf`\n- `bitcoin` — `bc1…` (segwit) or `1…` / `3…` (legacy)\n\nSending tokens to an address whose format doesn't match the\nsource chain will lose the funds — always verify the format\nclient-side before initiating the transfer."
          },
          "amount": {
            "type": "string"
          },
          "amount_out": {
            "type": "string",
            "description": "Amount credited after the bridge fee."
          },
          "min_amount_out": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Deadline after which the deposit address is no longer\nguaranteed to be honored by 1Click. Absent if 1Click did not\nreturn a deadline."
          },
          "estimated_time_secs": {
            "type": "integer",
            "description": "Solver's estimate of bridge settlement time, in seconds. Absent\nif 1Click did not return an estimate."
          },
          "hint": {
            "type": "string",
            "description": "Non-binding advisory when a faster / cheaper endpoint exists\nfor the same logical operation. Present only when the resolved\nsource chain is `near` — in that case the caller's funds are\nalready on NEAR and `POST /wallet/v1/intents/deposit` would do\nthe deposit in one direct `ft_transfer_call` without the\n1Click solver hop. Clients that don't read this field are\nunaffected; clients that prefer the most direct path can\nswitch endpoints on receiving it."
          }
        }
      },
      "DepositStatusResponse": {
        "type": "object",
        "required": [
          "intent_id",
          "status"
        ],
        "properties": {
          "intent_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "bridging",
              "success",
              "failed",
              "expired"
            ]
          },
          "result": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          }
        }
      },
      "SignMessageRequest": {
        "type": "object",
        "required": [
          "message",
          "recipient"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "nonce": {
            "type": "string",
            "description": "Base64-encoded 32-byte nonce. Auto-generated if omitted."
          },
          "format": {
            "type": "string",
            "enum": [
              "nep413",
              "raw"
            ],
            "default": "nep413"
          }
        }
      },
      "SignMessageResponse": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "signature_base64": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          }
        }
      },
      "PolicyRules": {
        "type": "object",
        "properties": {
          "limits": {
            "$ref": "#/components/schemas/PolicyLimits"
          },
          "addresses": {
            "$ref": "#/components/schemas/AddressList"
          },
          "transaction_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequestType"
            }
          },
          "time_restrictions": {
            "$ref": "#/components/schemas/TimeRestrictions"
          },
          "rate_limit": {
            "$ref": "#/components/schemas/RateLimit"
          }
        }
      },
      "PolicyLimits": {
        "type": "object",
        "description": "Per-period spending limits. Each field is a map of `token_id → amount`.\nUse `\"*\"` as the key to match all tokens.\n",
        "properties": {
          "per_transaction": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "hourly": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "daily": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "monthly": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "AddressList": {
        "type": "object",
        "required": [
          "mode",
          "list"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "whitelist",
              "blacklist"
            ]
          },
          "list": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TimeRestrictions": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string",
            "description": "IANA timezone name, e.g. `UTC` or `Europe/Berlin`."
          },
          "allowed_hours": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 23
            }
          },
          "allowed_days": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 6
            },
            "description": "0 = Sunday, 6 = Saturday."
          }
        }
      },
      "RateLimit": {
        "type": "object",
        "properties": {
          "max_per_hour": {
            "type": "integer"
          }
        }
      },
      "ApprovalConfig": {
        "type": "object",
        "properties": {
          "threshold": {
            "type": "object",
            "required": [
              "required",
              "of"
            ],
            "properties": {
              "required": {
                "type": "integer"
              },
              "of": {
                "type": "integer"
              }
            }
          },
          "above_usd": {
            "type": "number",
            "description": "Approval gate triggers when transaction value exceeds this USD amount."
          },
          "approvers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Approver"
            }
          }
        }
      },
      "Approver": {
        "type": "object",
        "required": [
          "id",
          "role"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Public key, e.g. `ed25519:...`."
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "signer"
            ]
          }
        }
      },
      "AdminQuorum": {
        "type": "object",
        "required": [
          "required",
          "admins"
        ],
        "properties": {
          "required": {
            "type": "integer"
          },
          "admins": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PolicyResponse": {
        "type": "object",
        "required": [
          "wallet_id",
          "controller",
          "frozen"
        ],
        "properties": {
          "wallet_id": {
            "type": "string"
          },
          "controller": {
            "type": "string",
            "description": "NEAR account that owns the policy."
          },
          "frozen": {
            "type": "boolean"
          },
          "rules": {
            "$ref": "#/components/schemas/PolicyRules"
          },
          "approval": {
            "$ref": "#/components/schemas/ApprovalConfig"
          },
          "authorized_key_hashes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "usage": {
            "type": "object",
            "additionalProperties": {},
            "description": "Current accumulated usage per token, per period. Same shape as\n`PolicyLimits` — used for client-side velocity-limit visualization.\n"
          }
        }
      },
      "EncryptPolicyRequest": {
        "type": "object",
        "required": [
          "wallet_id",
          "rules"
        ],
        "properties": {
          "wallet_id": {
            "type": "string"
          },
          "rules": {
            "$ref": "#/components/schemas/PolicyRules"
          },
          "approval": {
            "$ref": "#/components/schemas/ApprovalConfig"
          },
          "admin_quorum": {
            "$ref": "#/components/schemas/AdminQuorum"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri"
          },
          "authorized_key_hashes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EncryptPolicyResponse": {
        "type": "object",
        "required": [
          "encrypted_base64",
          "wallet_pubkey"
        ],
        "properties": {
          "encrypted_base64": {
            "type": "string"
          },
          "wallet_pubkey": {
            "type": "string"
          }
        }
      },
      "SignPolicyRequest": {
        "type": "object",
        "required": [
          "encrypted_data"
        ],
        "properties": {
          "encrypted_data": {
            "type": "string"
          }
        }
      },
      "SignPolicyResponse": {
        "type": "object",
        "required": [
          "signature_hex",
          "public_key_hex"
        ],
        "properties": {
          "signature_hex": {
            "type": "string"
          },
          "public_key_hex": {
            "type": "string"
          }
        }
      },
      "InvalidateCacheRequest": {
        "type": "object",
        "required": [
          "wallet_id"
        ],
        "properties": {
          "wallet_id": {
            "type": "string"
          }
        }
      },
      "PendingApproval": {
        "type": "object",
        "required": [
          "approval_id",
          "type",
          "request_data",
          "required",
          "approved",
          "expires_at"
        ],
        "properties": {
          "approval_id": {
            "type": "string",
            "format": "uuid"
          },
          "request_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/RequestType"
          },
          "request_data": {
            "type": "object",
            "additionalProperties": {}
          },
          "required": {
            "type": "integer"
          },
          "approved": {
            "type": "integer"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PendingApprovalsResponse": {
        "type": "object",
        "required": [
          "approvals"
        ],
        "properties": {
          "approvals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PendingApproval"
            }
          }
        }
      },
      "Nep413Auth": {
        "type": "object",
        "description": "NEP-413 signed authentication payload. The signed message is\n`approve:{approval_id}:{request_hash}` for approve or\n`reject:{approval_id}:{request_hash}` for reject.\n",
        "required": [
          "signature",
          "public_key",
          "account_id",
          "nonce"
        ],
        "properties": {
          "signature": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          }
        }
      },
      "RejectRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Nep413Auth"
          },
          {
            "type": "object",
            "properties": {
              "reason": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ApproveResponse": {
        "type": "object",
        "required": [
          "approval_id",
          "status",
          "approved",
          "required"
        ],
        "properties": {
          "approval_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected",
[...]
